.page-content {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    background-color: #DDD6C5;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    padding-bottom: 50px;
    box-sizing: border-box;

    .intro {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 75vw;
        padding-top: 20px;
        gap: 10px;

        .test {
            width: 25%;
            height: auto;
            background-color: transparent;
        }

        @media (max-width: 1360px) {
            max-width: 95%;
            gap: 40px;
            flex-wrap: wrap-reverse;

            .test {
                flex-basis: 100%;
                width: 100%;
                height: auto;
            }

            .carousel-container {
                width: 100%;
            }
        }
    }

    .menu {
        display: flex;
        width: 100%;
        max-width: 75vw;
        flex-direction: column;

        .title-wrapper {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-top: 30px;
            padding-bottom: 10px;

            .title {
                font-size: 30px;
                font-weight: bold;
                font-family: sans-serif;
                color: #42324E;
            }

        }

        .menu-items {
            display: flex;
            width: 100%;
            flex-direction: row;
            padding-bottom: 2px;
            justify-content: space-between;
            overflow-x: scroll;
            gap: 10px;

            .menuCard {
                width: 9%;
                min-width: 100px;
                height: 155px;
            }
        }

        @media (max-width: 1360px) {
            max-width: 95%;

        }
    }

    .popular {
        display: flex;
        width: 100%;
        max-width: 75vw;
        flex-direction: column;

        .title-wrapper {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-top: 30px;
            padding-bottom: 10px;

            .title {
                font-size: 30px;
                font-weight: bold;
                font-family: sans-serif;
                color: #42324E;
            }

            .view-all {
                font-family: sans-serif;
                color: #024AB4;
            }

            .view-all::after {
                content: " >>";
            }

            .view-all:hover {
                color: #42324E;
                cursor: pointer;
            }

        }

        .popular-card {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            overflow-x: scroll;
            gap: 10px;

            .cardSpace {
                min-width: 192px;
                max-height: 360px;
            }
        }

        @media (max-width: 1360px) {
            max-width: 95%;
        }
    }

    .rating {
        display: flex;
        width: 100%;
        max-width: 75vw;
        justify-content: start;
        align-items: start;
        padding-top: 40px;

        @media (max-width: 1360px) {
            max-width: 95% !important;
        }

        @media (max-width: 500px) {
            justify-content: center;
        }
    }
}

@media (max-width: 1360px) {
    .page-content .intro {
        max-width: 95%;
        gap: 40px;
        flex-wrap: wrap;
    }

    .page-content .intro .test {
        flex-basis: 100%;
        width: 100%;
        height: auto;
    }

    .page-content .intro .carousel-container {
        width: 100%;
    }

    .page-content .menu {
        max-width: 95% !important;
    }

    .page-content .popular {
        max-width: 95% !important;
    }

    .page-content .rating {
        max-width: 95% !important;
    }

}

@media (max-width: 500px) {

    .title {
        font-size: 25px !important;
    }
}